<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">

        <div class="alert alert-success alert-dismissible fade show " role="alert" *ngIf="confirmMessage">
            {{confirmMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class='card'>
            <div class='card-header'>
                <h5>Lista dei risultati</h5>
            </div>
            <div class='card-body'>
                <a class="btn btn-primary " routerLink="/regista/create">Add New</a>

                <div class='table-responsive'>
                    <table class='table table-hover'>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>nome</th>
                                <th>cognome</th>
                                <th>nickName</th>
                                <th>Data di Nascita</th>
                                <th>Sesso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let registaItem of registi" [routerLink]="['/regista',registaItem.id]">
                                <td>{{registaItem.id}}</td>
                                <td>{{registaItem.nome}}</td>
                                <td>{{registaItem.cognome}}</td>
                                <td>{{registaItem.nickName}}</td>
                                <td>{{registaItem.dataDiNascita | date:'dd/MM/yyyy'}}</td>
                                <td>{{registaItem.sesso | decodificaSesso }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>

        <!-- end container -->
    </div>

</main>