<main class="flex-shrink-0">
    <div class="container">
        <div class='card'>
            <form (ngSubmit)="login(userForm)" #userForm="ngForm" class="row g-3">
                <div class='card-header'>
                    <h5>Please Sign In</h5>
                </div>

                <div class="col-md-6">
                    <label for="floatingInput">Email address</label>
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                        #usernameVar="ngModel" [ngModel]="loginForm.username" required minlength="2" id="username"
                        name="username"
                        [ngClass]="{'is-invalid': (usernameVar.touched || usernameVar.dirty) && !usernameVar.valid }">
                    <span class="invalid-feedback">
                        <span *ngIf="usernameVar.errors?.['required']">
                            Prego inserire un valore
                        </span>
                    </span>
                </div>
                <div class="col-md-6">
                    <label for="floatingPassword">Password</label>
                    <input type="password" class="form-control" placeholder="Inserire la password" required
                        minlength="2" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,}"
                        id="password" name="password" [(ngModel)]="loginForm.password" #passwordVar="ngModel"
                        [ngClass]="{'is-invalid': (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }">
                    <span class="invalid-feedback">
                        <span *ngIf="passwordVar.errors?.['required']">
                            Prego inserire un valore
                        </span>
                        <span *ngIf="passwordVar.errors?.['pattern']">
                            La pwd non rispetta le richieste sui caratteri
                        </span>
                    </span>

                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <div class="col-12">
                    <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="userForm.invalid">Sign
                        in</button>
                </div>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
            </form>
        </div>
    </div>
</main>